:root {
    --background-color: white;
    --text-color: black;
  }

.dark-mode {
    --background-color: #121212;
    --text-color: white;
  }

.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.5 ease;
    background: var(--background-color);
    color: var(--text-color);
}

.container main {
    margin: 1em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
  }

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

.theme-toggle {
    display: block;
    margin: 1em auto;
    padding: 0.5em 1em;
    background-color: #fff;
    color: #000;
    border: none;
    transition: background-color 0.3s ease;
}

.button {
    cursor: pointer;
}

.theme-toggle:hover {
    background-color: #8d8d8d;
}

.slider {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center;
    margin: auto;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-img {
    width: 100%;
    display: none;
}

.slider-img.active {
    display: block;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}

.slider-btn-left {
    left: 10px;
}

.slider-btn-right {
    right: 10px;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Мобильная версия */
@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav ul li {
        margin: 0.5em 0;
    }
    .slider {
        border: none;
        border-radius: 0;
    }

    .slider-btn {
        font-size: 20px; 
        padding: 8px;
    }

    .slider-btn-left {
        left: 5px;
    }

    .slider-btn-right {
        right: 5px;
    }
    .video iframe {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
    }
}

/* Десктопная версия */
@media(min-width: 1024px) {
    .gallery img:hover {
        transform: scale(1.1);
    }
}
