body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.5 ease;
    background-color: #f4f4f4;
    color: #333;
}

body main {
    margin: 1em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
  }

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 45%;
    margin: 1rem 0;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

/* Десктопная версия */
@media (min-width: 1024px) {
    .gallery img {
        width: 30%;
    }
}

/* Мобильная версия */
@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        width: 80%;
    }
}